.contact {
    --container-max-width: 55.3rem;
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
}
.main-contact__form input,
.main-contact__form textarea {
    padding-top: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.7rem;
    border: 1px solid #7d7d7d;
    outline: unset;
}
.main-contact__form input:focus,
.main-contact__form textarea:focus {
    outline: unset;
}
.main-contact__form input::placeholder,
.main-contact__form textarea::placeholder {
    font-size: 1.6rem;
    line-height: 0.9375;
    color: rgba(18, 18, 18, 0.75);
    font-family: "Assistant", sans-serif;
}
.main-contact__form textarea {
    height: 12.1rem;
}
.contact-form__info {
    column-gap: 1.6rem;
}
.contact-form__btn {
    padding: 1.6rem 3.5rem;
}
